.flickity {
  &-viewport {
    padding-bottom: 3.4rem;
  }

  &-slider {
    .carousel-cell {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
    }
  
    &--category-card .carousel-cell {
      padding: 0 2rem;
    }
  
    &--product-card .carousel-cell,
    &--promo-set .carousel-cell {
      padding: .5rem 1.5rem 0;
    }

    &--product-image {
      .carousel-cell {
        margin-right: 1.5rem;
      }

      .flickity {
        &-viewport {
          padding-bottom: 0;
        }

        &-page-dots {
          bottom: 1.6rem;
    
          .dot {
            border-color: $white;
      
            &.is-selected {
              background-color: $white;
            }
          }
        }
      }
    }
  }

  &-button {
    display: none;
    background-color: $green-light;
    border: 4px solid $beige-light;
    width: 4.6rem;
    height: 4.6rem;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:hover,
    &:active {
      background-color: $green-light;
      opacity: 1;
    }

    &-icon {
      fill: white;
    }

    &.previous {
      left: -.5rem;
    }

    &.next {
      right: -.5rem;
    }

    &:disabled {
      display: none;
    } 
  }
  
  &-page-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
  
    .dot {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 0.8rem;
      border: 3px solid $green-light;
      background-color: transparent;
      box-sizing: border-box;
      opacity: 1;
  
      &.is-selected {
        width: 1.8rem;
        height: 1.8rem;
        background-color: $green-light;
      }
    }
  }
}

@include breakpoint(mobile) {
  .flickity-slider {
    &--product-card .carousel-cell,
    &--promo-set .carousel-cell {
      width: 50%;
    }
  }
}
  
@include breakpoint(tablet) {
  .flickity {
    &-viewport {
      padding-bottom: 0;
    }

    &-slider {
      &--category-card .carousel-cell {
        width: 50%;
      }
  
      &--product-card .carousel-cell {
        width: 33%;
      }
    }

    &-page-dots {
      display: none;
    }
  
    &-button {
      display: block;
    }

    &-slider--product-image {
      .flickity {
        &-button {
          display: none;
        }

        &-page-dots {
          display: flex;
        }
      }
    }
  }
}

@include breakpoint(laptop) {
  .flickity-slider {
    &--category-card .carousel-cell {
      width: 33%;
    }

    &--product-card .carousel-cell {
      width: 25%;
    }
  }
}

@include breakpoint(desktop) {
  .flickity-slider {
    &--category-card .carousel-cell {
      width: 25%;
    }

    &--product-card .carousel-cell {
      width: 20%;
    }

    &--promo-set .carousel-cell {
      width: 33%;
    }
  }
}