.custom-input {
  margin-bottom: 1rem;
  position: relative;

  & > input,
  & > textarea {
    background-color: $white;
    border-radius: $radius-small;
    border: none;
    padding: 1.6rem 1rem;
    font-size: 1.6rem;
    font-family: $montserrat;
    box-sizing: border-box;
    width: 100%;
  
    &:active,
    &:focus {
      outline: none;
    }
  }

  // & > input {
  //   max-width: 20rem;
  // }

  // &.wide {
  //   display: flex;
  //   flex: 1;

  //   & > input {
  //     max-width: 100%;
  //     flex: 1;
  //   }
  // }

  &.slim > input {
    padding: .8rem;
  }

  textarea {
    display: block;
    resize: none;
    width: 100%;
  }

  & > label {
    position: absolute;
    left: 1rem;
    top: 1.6rem;
    transition: .2s ease;
    user-select: none;

    &.non-empty {
      top: .4rem;
      color: $grey-medium;
      font-size: 1.2rem;
    }
  }

  & > .vue-star-rating {
    position: absolute;
    top: 2.1rem;
    left: .7rem;
  }
}

.custom-checkbox,
.custom-radio {
  margin-bottom: 1rem;
  position: relative;

  label {
    cursor: pointer;
    padding-left: 3rem;
    position: relative;

    input {
      background-color: $white;
      border: $input-border;
      box-sizing: border-box;
      content: '';
      height: 2.1rem;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      width: 2.1rem;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;

      // checkbox, radio mark
      &::after {
        content: '';
        position: absolute;
        transition: transform ease .25s;
      }

      &:checked {
        background-color: $beige-dark;
      }
    }
  }
}

.custom-checkbox {
  label {
    input {
      border-radius: $radius-small;

      // checkbox mark
      &::after {
        border-bottom: $input-border-active;
        border-left: $input-border-active;
        height: .5rem;
        left: .1rem;
        top: .1rem;
        transform: rotate(-45deg) scale(0);
        width: 1rem;
      }

      &:checked::after {
        transform: rotate(-45deg) scale(1);
      }
    }
  }
}

.custom-radio {
  label {
    input {
      border-radius: 50%;

      &::after {
        background: $white;
        border-radius: 50%;
        height: .7rem;
        left: .4rem;
        top: .4rem;
        width: .7rem;
        transform: scale(0);
      }

      &:checked::after {
        transform: scale(1);
      }
    }
  }
}

.search-controls {
  background-color: $beige-medium;
  padding: 1.2rem 1.6rem;
  border-radius: $radius-medium;

  .controls {
    &-query input {
      width: 100%;
      max-width: unset;
    }
  
    &-status {
      z-index: 6;
    }
  
    &-sum {
      margin-bottom: 1rem;
  
      & > .row {
        justify-content: space-between;
        margin-bottom: .8rem;
      }
  
      &__input {
        background-color: $white;
        border-radius: $radius-small;
        border: none;
        padding: .8rem;
        font-size: 1.6rem;
        font-family: $montserrat;
        box-sizing: border-box;
        border-right: 2rem solid $white;
        width: 10rem;
      
        &:active,
        &:focus {
          outline: none;
        }
  
        &-wrapper {
          position: relative;
  
          &::after {
            position: absolute;
            right: .4rem;
            top: 50%;
            transform: translateY(-50%);
            content: '₽';
          }
        }
      }
  
      .vue-slider-dot-handle {
        background-color: $beige-dark;
  
        &::after {
          background-color: transparent;
        }
      }
    }
  }
}

.grid {
  & > .custom-input {
    margin-bottom: 0;
  }
}
