@import 'variables';

html {
  font-size: 62.5%;
  line-height: 1.2;
}

body {
  color: $grey-dark;
  font-family: $montserrat;
  font-size: 1.6rem;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  background-color: $beige-light;
  min-height: 100vh;
}

.block {
  &-neat {
    :first-child {
      margin-top: 0;
    }
  
    :last-child {
      margin-bottom: 0;
    }
  }

  &-slim {
    max-width: 1200px;
    margin: auto;
  }
}

.container {
  min-width: 390px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.6rem;
  box-sizing: border-box;

  &-slim {
    max-width: 1200px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-base {
    align-items: baseline;
  }
}

.a-start {
  align-items: flex-start;
}

.m-resp {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.m-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.m-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.btn {
  cursor: pointer;
  font-family: $montserrat;
  outline: none;
  border: none;
  user-select: none;
  white-space: nowrap;

  &-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2rem;
    margin: 1.5rem 0;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.2;
    color: $white;
    border-radius: $radius-medium;
    transition: .2s linear;

    svg {
      margin-left: 5px;
      font-size: 2rem;
    }
  }

  &-outline {
    display: flex;
    background-color: transparent;
    text-decoration: underline;
    font-size: 2rem;
    color: $grey-dark;
    padding: 0;
    transition: color .1s linear;
    
    &:hover {
      color: $green;
    }

    svg {
      margin-right: 4px;
    }
  }

  &-icon {
    padding: .5rem 1rem;
    border-radius: $radius-small;
  }

  &-green-light {
    background-color: $green-light;

    &:hover {
      background-color: $green;
    }
  }

  &-orange-light {
    background-color: $orange-light;

    &:hover {
      background-color: $orange;
    }
  }
}

.img {
  object-fit: cover;
}

.d-none {
  display: none;
}

a {
  margin-left: 2.5rem;
  color: $grey-dark;
  font-weight: 500;
  transition: color .2s;

  &:hover {
    color: $green;
  }
}

.grid {
  display: grid;

  &.gg-2 {
    gap: 2.4rem;
  }

  &-center {
    align-self: center;
  }
}

.mobile {
  display: block;
}

.laptop {
  display: none;
}

@include breakpoint(tablet) {
  .m-resp {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .grid.grid-tablet {
    grid-auto-columns: 1fr;

    &.g-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.g-1-2 {
      grid-template-columns: 1fr 2fr;
    }

    &.g-2-1 {
      grid-template-columns: 2fr 1fr;
    }

    &.g-7-3 {
      grid-template-columns: 7fr 3fr;
    }
  }
}

@include breakpoint(laptop) {
  .grid.grid-laptop {
    grid-auto-columns: 1fr;

    &.g-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.g-1-2 {
      grid-template-columns: 1fr 2fr;
    }

    &.g-2-1 {
      grid-template-columns: 2fr 1fr;
    }

    &.g-7-3 {
      grid-template-columns: 7fr 3fr;
    }
  }

  .mobile {
    display: none;
  }

  .laptop {
    display: block;
  }
}

// dung
//@each $btn-color, $color-list in $button-colors {
//  .btn-#{"" + $btn-color} {
//    background-color: $color-list;
//
//    &:hover {
//      background-color: $color-list;
//    }
//  }
//}