@import 'variables';

html {
  font-size: 62.5%;
  line-height: 1.2;
}

body {
  color: $grey-dark;
  font-family: $montserrat;
  font-size: 1.6rem;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  background-color: $beige-light;
  min-height: 100vh;
}

.block-neat {
  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.container {
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;

  &-slim {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
  }
}

.row {
  display: flex;
  flex-flow: row;
  align-items: center;

  &-base {
    align-items: baseline;
  }
}

.a-start {
  align-items: flex-start;
}

.m-resp {
  margin: 6rem 0;
}

.m-auto {
  margin: auto !important;
}

.m-none {
  margin: 0 !important;
}

.btn {
  cursor: pointer;
  font-family: $montserrat;
  outline: none;
  border: none;
  user-select: none;
  white-space: nowrap;

  &-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2rem;
    margin: 1.5rem 0;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.2;
    color: $white;
    border-radius: 5px;
    transition: .2s linear;

    svg {
      margin-left: 5px;
      font-size: 20px;
    }
  }

  &-outline {
    background-color: transparent;
    text-decoration: underline;
    font-size: 1.4rem;
    color: $grey-dark;
    padding: 0;
    
    svg {
      margin-right: 4px;
    }
  }

  &-icon {
    padding: .5rem 1rem;
    border-radius: 2px;
  }

  &-green-light {
    background-color: $green-light;

    &:hover {
      background-color: $green;
    }
  }

  &-orange-light {
    background-color: $orange-light;

    &:hover {
      background-color: $orange;
    }
  }
}

.d-none {
  display: none;
}

// dung
//@each $btn-color, $color-list in $button-colors {
//  .btn-#{"" + $btn-color} {
//    background-color: $color-list;
//
//    &:hover {
//      background-color: $color-list;
//    }
//  }
//}