@function to-rem($size) {
  @return $size / 16px * 1rem;
}

@mixin shadow-angle($color) {
  position: relative;
  transition: .1s linear;
  top: 0;
  left: 0;

  &:hover {
    top: -5px;
    left: -5px;
    box-shadow: 5px 5px 0 $color;
  }
}

@mixin shadow-bottom($color) {
  position: relative;
  transition: .1s linear;
  top: 0;

  &:hover {
    top: -5px;
    box-shadow: 0 5px 0 $color;
  }
}

@mixin breakpoint($point) {
  /* 1200px */
  @if $point == desktop {
    @media (min-width: 75em) {
      @content;
    }
  }
  /* 1024px */
  @else if $point == laptop {
    @media (min-width: 64em) {
      @content;
    }
  }
  /* 768px */
  @else if $point == tablet {
    @media (min-width: 48em) {
      @content;
    }
  }
  /* 480px */
  @else if $point == mobile {
    @media (min-width: 30em) {
      @content;
    }
  }
}

@mixin grid-layout {
  grid-auto-columns: 1fr;

  &.g-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.g-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &.g-1-2 {
    grid-template-columns: 1fr 2fr;
  }

  &.g-2-1 {
    grid-template-columns: 2fr 1fr;
  }

  &.g-2-10 {
    grid-template-columns: 2fr 10fr;
  }

  &.g-3-7 {
    grid-template-columns: 3fr 7fr;
  }

  &.g-7-3 {
    grid-template-columns: 7fr 3fr;
  }
}