// https://coolors.co/001219-264653-2a9d8f-94d2bd-fff9eb-efe2be-ffc93c-ff9a3c-ff6f3c-a61e11
// https://coolors.co/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226
// https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51
// https://coolors.co/ffc93c-ff9a3c-ff6f3c-155263

$beige-light: #FFF9EB;
$beige-medium: #F7EED5;
$beige: #EFE2BE;
$yellow: #ffc93c;
$orange-light: #ff9a3c;
$orange: #ff6f3c;
$red: #A61E11;
$green-light: #94D2BD;
$green: #2A9D8F;
$blue: #3F72AF;
$grey-light: #4F4F4F;
$grey: #363636;