// https://coolors.co/001219-264653-2a9d8f-94d2bd-fff9eb-efe2be-ffc93c-ff9a3c-ff6f3c-a61e11
// https://coolors.co/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226
// https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51
// https://coolors.co/ffc93c-ff9a3c-ff6f3c-155263

// https://coolors.co/3f72af-6e8943-95b366-ffc93c-ffa63c-ff711f-a61e11

//colors

// based beige palette
$white: #FFFFFF;
$beige-light: #FFF9EB;
$beige-medium: #F7EED5;
$beige: #EFE2BE;
$beige-dark: #E2CB8D;
$yellow: #ffc93c;
$orange-light: #FFA63C;
$orange: #FF711F;
$red: #A61E11;
$green-light: #95b366;
$green: #6E8943;
$blue: #3F72AF;
$grey-light: #C4C4C4;
$grey-medium: #8F8F8F;
$grey: #4F4F4F;
$grey-dark: #363636;

// cringe grey-green palette
// $white: #FFFFFF;
// $beige-light: #F5F5F5;
// $beige-medium: #DBDBDB;
// $beige: #C4C4C4;
// $beige-dark: #AAAAAA;
// $yellow: #ffc93c;
// $orange-light: #5FB8A6;
// $orange: #2A9D8F;
// $red: #A61E11;
// $green-light: #5FB8A6;
// $green: #2A9D8F;
// $blue: #3F72AF;
// $grey-light: #C4C4C4;
// $grey-medium: #8F8F8F;
// $grey: #4F4F4F;
// $grey-dark: #363636;

$project-colors: (
  white: $white,
  beige-light: $beige-light,
  beige-medium: $beige-medium,
  beige-dark: $beige-dark,
  beige: $beige,
  yellow: $yellow,
  orange-light: $orange-light,
  orange: $orange,
  red: $red,
  green-light: $green-light,
  green: $green,
  blue: $blue,
  grey-light: $grey-light,
  grey-medium: $grey-medium,
  grey: $grey,
  grey-dark: $grey-dark,
);

//$button-colors: (
//  green: $green-light $green,
//  orange: $orange-light $orange,
//);

@each $bg-color, $color in $project-colors {
  .bg-#{"" + $bg-color} {
    background-color: $color;
  }
}

@each $text-color, $color in $project-colors {
  .t-#{"" + $text-color} {
    color: $color;
  }
}

// fonts

$montserrat: "Montserrat", Arial, sans-serif;
$comforter: "Comforter Brush", Arial, sans-serif;

// border-radius

$radius-small: 2px;
$radius-medium: 5px;
$radius-big: 10px;

$input-border: .3rem solid $beige-dark;
$input-border-active: .3rem solid $white;